=snippet :'/snippets/top'

.span-24.last
  .span-2
    %img.span-2{:src => "#{@user.photo_url}"}  
  .span-20.last
    %h2{:style => 'margin-bottom: 0;'} #{@hello[:translation]} #{@user.formatted_name}!
    %h4 Now you know how to greet people in  #{@hello[:lang]}!

%hr.space

.span-24.last
  %h2{:style => 'margin-bottom: 0;'} Your recent photostream
  %h3 Some of your latest uploads
  -unless @user.albums.empty? 
    -@user.albums.photos(:photo_id => nil, :order => [:created_at.desc])[0..11].each  do |photo|
      %a{:href => "/photo/#{photo.id}"}
        %img.span-2{:src => "#{photo.url_thumbnail}"}

  %h2{:style => 'margin-bottom: 0;'} People you follow
  %h3 Photos shared by people you follow
  - unless @user.follows.empty? and @user.follows.albums.empty?
    - @user.follows.albums.photos(:photo_id => nil, :order => [:created_at.desc], :privacy => 'public')[0..11].each  do |photo|
      %a{:href => "/photo/#{photo.id}"}
        %img.span-2{:src => "#{photo.url_thumbnail}"}
